.messagess-div {
    height: 84vh;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.messagess-box {
    margin: auto;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 0 10px #22676699;
}
.messagess-box .iframe {
    width: 100%;
    height: 100%;
}

.messages-box {
    overflow: auto;
}
